// Scroll Up
.scroll-up {
	position: fixed;
	right: rem(15);
	bottom: rem(15);
	width: rem(81);
	@include adaptiveValue("width", 81, 50, $containerWidth, 479.98, 1);
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .5s ease;
	opacity: 0;
	visibility: hidden;
	transform: translateY(50px);
	z-index: 1500;

	border-radius: 50%;
	background-color: rgba(#000,  0);
	.scroll-up__arrow{
		display: block;
		max-width: 100%;
		width: 29.62963%; /* 24/81 */
		height: 50.617284%; /* 41/81 */
		fill: $lightColor;
		transform: rotate(270deg);
	}
}
.scroll-up--active {
	opacity: 1;
	background-color: rgba(#000, 0.5);
	visibility: visible;
	transform: translateY(0);
	&:hover{
		background-color: rgba(#000, 1);
	}
}