//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: rem(13) 0;
	border-radius: 5px;
	background-color: $accentColor;
	transition: background-color .3s ease;
	color: $lightColor;

	@media (any-hover: hover) {
		&:hover {
			background-color: $accentHoverColor;
		}
	}
	&:active	{
		background-color: $accentActiveColor;
	}
	&._fw {
		width: 100%;
	}
}
