.checkbox {
	position: relative;

	&:not(:last-child) {
		margin-bottom: em(5);
	}

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:focus+.checkbox__label:before {
			box-shadow: 0 0 5px #000;
		}

		&:checked+.checkbox__label:before {
			background-color: $accentColor;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 13L9 17.5L19 6.5' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			border: 1px solid $accentColor !important;
		}

		&._form-error+.checkbox__label:before {
			border: 1px solid $red;
		}
	}

	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 8px;

		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 24px;
			width: 24px;
			height: 24px;
			border-radius: 4px;
			background-color: $lightColor;
			border: 1px solid $grey-2;
		}
	}

	// .checkbox__text
	&__text {
		color: $grey-2;
	}

	&.light {
		.checkbox__label {
			&::before {
				border: 1px solid $lightColor;
			}
		}

		.checkbox__text {
			color: $lightColor;
			font-family: Inter;
			font-size: rem(12);
			font-style: normal;
			font-weight: 400;
			line-height: 160%;
			/* 19.2px */
		}
	}
}