//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	position: relative;
	display: flex;
	justify-content: center;
	border: 1px solid rgba(166, 166, 166, 0.45);

	border: 1px solid $grey-3;
	border-radius: 10px;
	padding: 10px 40px;
	width: 123px;
	height: 52px;

	// .quantity__button
	&__button {
		position: absolute;
		top: 0;
		bottom: 0;
		// flex: 0 0 50px;
		width: rem(50);
		height: 100%;

		// margin: rem(-10) 0;
		padding: rem(10) 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&::before {
			font-weight: 500;
			font-size: 16px;
			line-height: 123%;
			text-align: right;
			color: $mainColor;

		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $accentColor;
				}
			}
		}

		// .quantity__button_plus
		&_plus {
			// margin-right: rem(-16);
			// padding-left: rem(10);
			right: rem(-6);

			// justify-content: flex-end;
			&::before {
				content: "+";
			}
		}

		// .quantity__button_minus
		&_minus {
			left: rem(-6);
			// margin-left: rem(-16);
			// padding-right: rem(10);

			&::before {
				content: "-";
			}
		}
	}

	// .quantity__input
	&__input {
		// flex: 1 1 auto;
		height: 100%;
		width: max(rem(35), 100%);

		input {
			width: 100%;
			height: 100%;
			text-align: center;
			font-weight: 500;
			font-size: rem(16);
			line-height: 123%;
			color: $mainColor;
		}
	}
}