// Заголовки, общие БЄМ блоки и проче...
.title {
	font-family: $second-family;

	font-size: rem(64);
	font-style: normal;
	font-weight: 400;
	line-height: 123%;
	/* 78.72px */
	letter-spacing: 0.05em;

	&:not(.home-catalog__cell-title, .contact-us__title, .title-small, .best__title) {
		@include adaptiveValue("font-size", 64, 50, $containerWidth, 479.98, 1);
	}

	&.title-small {
		font-weight: 400;
		font-size: rem(40);
		@include adaptiveValue("font-size", 40, 32, $containerWidth, 479.98, 1);
		line-height: 123%;
		letter-spacing: 0.05em;
		color: $mainColor;
	}
}

.mark-list {
	display: flex;
	flex-direction: column;

	li {
		position: relative;
		padding-left: rem(30);

		&::after {
			content: '';
			position: absolute;
			top: max(rem(6), calc(50% - rem(7)));
			left: rem(0);
			width: rem(14);
			height: rem(14);
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.844 13.93c0-.162-.018-.234-.09-.234l-.414.198c0-.09-.054-.144-.144-.18l-.144-.018c-.126 0-.18.018-.36.126-.054-.108-.126-.234-.18-.342-.468-.9-.954-2.25-1.17-2.844C.234 10.33.126 9.7 0 8.746c.144.09.252.126.306.126.072 0 .162-.126.234-.378.036.054.108.072.198.072.054 0 .126-.018.162-.072l.288-.432.324.108h.018c.036 0 .09-.054.18-.108s.162-.09.216-.09l.054.018c.288.144.486.396.576.792.216.918.414 1.368.648 1.368.198 0 .468-.234.756-.684.288-.45.576-1.062.9-1.8.018.144.036.216.072.216.108 0 .378-.63 1.044-1.692.99-1.602 3.438-4.68 4.068-5.112.468-.324.828-.63 1.08-.9-.036.18-.072.306-.072.36 0 .054.036.072.072.072l.504-.252V.43c0 .09.018.144.072.144.072 0 .36-.288.396-.396L12.06.43l.612-.36-.144.324c.18-.126.324-.198.414-.198.09 0 .144.144.144.234 0 .144-.126.342-.324.594-.216.288-.756.846-2.376 2.7-.702.792-3.816 5.022-4.41 6.03l-1.116 1.89c-.486.81-.792 1.332-.954 1.53-.162.198-.36.396-.594.576l-.162-.09-.144.09-.162.18Z' fill='%23F57520'/%3E%3C/svg%3E%0A");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.link {
	transition: color .3s ease;

	@media (any-hover: hover) {
		&:hover {
			color: $accentColor;
		}
	}
}

.close {
	width: rem(25);
	height: rem(25);
	fill: $light-grey;

	@media (any-hover: hover) {
		transition: fill .3s ease;

		&:hover {
			fill: $accentColor;
		}
	}
}

//========================================================================================================================================================
//Видео
//========================================================================================================================================================
.video {
	position: relative;
	&__facade{
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;

		z-index: 1;
	}
	// .video__content
	&__content {
		width: 100%;
		height: 100%;

		object-fit: cover;
	}

	&__iframe {
		position: relative;
		z-index: 20;

		width: 100%;
		height: 100%;
	}
}

.video-button {
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	// .video-button__icon
	&__icon {
		fill: $accentColor;
	}

	@media (any-hover: hover) {
		.video-button__icon {
			transition: fill .3s ease;
		}
		&:hover {
			.video-button__icon {
				fill: $accentHoverColor;
			}
		}
	}
}

//========================================================================================================================================================


//========================================================================================================================================================
// Карточка продукта
//========================================================================================================================================================

.product {
	height: 100%;
	width: 100%;
	max-width: rem(400);
	border-radius: rem(10);
	padding: rem(18) rem(16) rem(33) rem(16);
	font-size: rem(18);
	background-color: #fff;
	position: relative;
	transition: box-shadow .3s ease, border-radius 0s ease .2s;
	display: flex;
	flex-direction: column;

	&::after {
		content: '';
		position: absolute;
		left: rem(0);
		bottom: 0;
		transition: bottom .3s ease .15s, box-shadow .3s ease .15s;
		z-index: 26;
		left: rem(0);

		width: 100%;
		height: rem(87);
		background-color: #fff;
		border-radius: 0 0 rem(10) rem(10);
	}

	@media (min-width:$mobile) and (any-hover: hover) {

		&:hover,
		&:focus-within {
			border-radius: rem(10) rem(10) 0 0;
			transition: border-radius 0s ease 0s, box-shadow .3s ease;
			box-shadow: 0px 0px 0px 0px rgba(186, 186, 186, 0.10), 2px 9px 21px 0px rgba(186, 186, 186, 0.10), 6px 38px 38px 0px rgba(186, 186, 186, 0.09), 14px 84px 51px 0px rgba(186, 186, 186, 0.05), 25px 150px 61px 0px rgba(186, 186, 186, 0.01), 39px 235px 67px 0px rgba(186, 186, 186, 0.00);

			&::after {
				box-shadow: 0px 0px 0px 0px rgba(186, 186, 186, 0.10), 2px 9px 21px 0px rgba(186, 186, 186, 0.10), 6px 38px 38px 0px rgba(186, 186, 186, 0.09), 14px 84px 51px 0px rgba(186, 186, 186, 0.05), 25px 150px 61px 0px rgba(186, 186, 186, 0.01), 39px 235px 67px 0px rgba(186, 186, 186, 0.00);
				transition: bottom .3s ease 0s, box-shadow .3s ease 0s;
				bottom: rem(-85);
			}

			.product__btn {
				bottom: rem(-70);
				opacity: 1;
				transition: background-color 0.3s ease-in-out, opacity .25s ease .1s, bottom .3s ease !important;
			}
		}
	}

	.touch & {
		border-radius: rem(10) rem(10) 0 0;

		&::after {
			bottom: rem(-85);
			// bottom: 0;
		}

		.product__btn {
			// bottom: rem(15);
			bottom: rem(-70);
			opacity: 1;
		}
	}

	@media (max-width:$mobile) {
		border-radius: rem(10) rem(10) 0 0;
		// padding-bottom: rem(85);

		&::after {
			bottom: rem(-85);
			// bottom: 0;
		}

		.product__btn {
			// bottom: rem(15);
			bottom: rem(-70);
			opacity: 1;
		}
	}
}



.product__status {
	position: absolute;
	inset: rem(16) rem(16) auto auto;

	font-size: rem(16);
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	z-index: 25;
	color: #4D932C;

	&._out-in-stock {
		color: #F53A20;
	}
}

.product__country {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: rem(10) 0 rem(10) 0;
	z-index: 25;
	width: rem(88);
	overflow: hidden;

	img {
		width: 100%;
	}

	.no-country & {
		display: none;
	}
}

.product__image {
	position: relative;
	overflow: hidden;
	display: block;
	height: rem(287);
	@include adaptiveValue("height", 287, 238, $containerWidth, 991.98, 1);
}

.image-switch {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: flex;
}

.image-switch__item {
	flex-grow: 1;
	cursor: pointer;
}

.image-switch__img {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	transform: translateX(-50%);
	pointer-events: none;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity .5s ease;
}

.image-switch__img img {
	display: block;
	width: 100%;
	height: auto;
	max-height: 100%;
	object-fit: contain;
}

.image-switch__item:first-child .image-switch__img {
	opacity: 1;
	z-index: -1;
}

.image-switch__item {
	@media (any-hover: hover) {
		&:hover {
			.image-switch__img {
				transition: none;
				opacity: 1;
				z-index: -1;
			}
		}
	}
}

.image-pagination {
	position: absolute;
	z-index: 30;
	left: 0;
	bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;

	.touch & {
		display: none;
	}
}

.image-pagination__item {
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	margin: 0 3px;
	background-color: #c4c4c4;
}

.image-pagination__item--active {
	background-color: $accentColor;
}

.product__content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.product {

	// .product__content-row
	&__content-row {
		margin-top: auto;
		width: 100%;
		display: flex;
		gap: rem(15);
		align-items: center;
	}

	// .product__price
	&__price {
		flex: 1 0;
	}

	// .product__content-action
	&__content-action {
		position: relative;
		z-index: 35;
		display: flex;
		gap: rem(10);
	}

	// .product__action-button
	&__action-button {
		flex-basis: rem(30);
		width: rem(30);
		height: rem(30);

		&::before {
			transition: color .3s ease;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $accentColor;
				}
			}
		}

		&::before {
			color: $grey-2;
			font-size: rem(26);
		}
	}
}

.cart-button {
	&:disabled {
		cursor: default;

		&::before {
			color: $light-grey !important;
		}
	}
}

.favorite-button {
	&[data-selected="true"] {
		&::before {
			color: $red;
		}
	}
}

.product__title {
	position: relative;
	z-index: 27;
	margin-bottom: rem(24);
	font-weight: 300;
	line-height: 160%;
	/* 28.8px */
	letter-spacing: 0.18px;
	color: $mainColor;

	a {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;

		transition: color .3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
			}
		}
	}
}

.product-price {
	position: relative;
	z-index: 27;
	display: flex;
	flex-wrap: wrap;
	gap: rem(8);
	align-items: center;
}

.product-price__current {
	font-size: rem(16);
	color: #777
}

.product-price__old {
	font-size: rem(12);
	color: $light-grey;
	text-decoration: line-through;
	transform: translateY(rem(1.8));
}

.product__btn {
	display: flex;
	opacity: 0;
	position: absolute;
	left: rem(16);
	right: rem(16);
	bottom: rem(15);
	align-items: center;
	justify-content: center;
	padding: rem(16);
	border-radius: rem(10);
	width: calc(100% - 2 * rem(16));
	z-index: 30;
	color: #fff;
	font-size: rem(16);
	font-weight: 500;
	gap: rem(4);
	background-color: $accentColor;
	cursor: pointer;
	transition: opacity .3s ease, bottom .2s ease .15s, ;
}

.product__btn:active {
	background-color: $accentActiveColor;
}

.product {

	.catalog &,
	&.sm {
		max-width: none;
		padding: rem(16) rem(19) rem(22) rem(16);

		&::after {
			height: rem(69);
		}

		.product__image {
			height: rem(225);
		}

		.product__country {
			width: rem(72);
		}

		.product__btn {
			left: rem(8);
			right: rem(8);
			bottom: rem(-3);

			width: calc(100% - 2 * rem(8));
		}

		@media (min-width:$mobile) and (any-hover: hover) {

			&:hover,
			&:focus-within {
				&::after {
					bottom: rem(-68);
				}

				.product__btn {
					bottom: rem(-60);
				}
			}
		}

		.touch &,
		.account-favorites {
			padding-bottom: rem(96);

			&::after {
				bottom: 0;
			}

			.product__btn {
				bottom: rem(16);
				left: rem(16);
				right: rem(16);
				width: calc(100% - 2 * rem(16));
			}
		}

		@media (max-width:$mobile) {
			border-radius: rem(10) rem(10) 0 0;
			padding-bottom: rem(85);

			&::after {
				// bottom: rem(-85);
				bottom: 0;
			}

			.product__btn {
				bottom: rem(16);
				left: rem(16);
				right: rem(16);
				width: calc(100% - 2 * rem(16));
				// bottom: rem(-70);
			}
		}
	}
}

// product end

//========================================================================================================================================================
//Карточка статьи
//========================================================================================================================================================
.article-card {
	overflow: hidden;
	height: 100%;
	width: 100%;
	max-width: rem(420);
	border-radius: rem(10);
	font-size: rem(16);
	background-color: $mainColor;
	color: $lightColor;
	position: relative;
	display: flex;
	flex-direction: column;

	margin: 0 auto;
}

.article-card__img {
	width: 100%;
	height: rem(195);
	@include adaptiveValue("height", 195, 160, $containerWidth, 479.98, 1);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.article-card__content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: rem(24) rem(27) rem(35);
}

.article-card__date {
	display: block;
	margin-bottom: rem(8);
}

.article-card__tag-link {
	margin-bottom: rem(16);
	display: block;
	color: $accentColor;


	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}

.article-card__title {
	margin-bottom: rem(19);
	/* desk mob subhead */
	font-size: rem(18);
	font-weight: 300;
	line-height: 160%;
	/* 28.8px */
	letter-spacing: 0.18px;

	overflow: hidden;
	text-overflow: ellipsis;

	a {
		transition: color .3s ease;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		width: 100%;
	}


	@media (any-hover: hover) {
		&:hover {
			a {
				color: $accentColor;
			}
		}
	}
}

.article-card__more-link {
	display: block;
	margin-top: auto;
	transition: color .3s ease;

	@media (any-hover: hover) {
		&:hover {
			color: $accentColor;
		}
	}
}

// articles end
//========================================================================================================================================================
// Map
//========================================================================================================================================================
.map {
	width: 100%;
	height: 500px;
}

.map__marker {
	width: rem(112);
	height: rem(138);
	@include adaptiveValue("width", 112, 56);
	@include adaptiveValue("height", 138, 69);
	background-image: url("@img/marker.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	transform: translate(-50%, -100%);
}

//========================================================================================================================================================
// Map End
//========================================================================================================================================================

//========================================================================================================================================================
// breadcrambs
//========================================================================================================================================================
.breadcrambs-dark {
	@include adaptiveValue("margin-top", 48, 32);
	@include adaptiveValue("margin-bottom", 60, 32);
}

.breadcrambs {

	// .breadcrambs__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: rem(4);
		row-gap: rem(2);
	}

	// .breadcrambs__item
	&__item {
		color: $lightColor;
		font-size: rem(14);
		font-style: normal;
		font-weight: 400;
		line-height: 160%;

		/* 22.4px */
		.breadcrambs-dark & {
			color: $mainColor;
		}

		&:not(:last-child)::after {
			content: ' /';
		}
	}

	// .breadcrambs__link
	&__link {
		transition: color .3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
			}
		}
	}

	// .breadcrambs__current
	&__current {
		color: $accentColor;
	}
}

//========================================================================================================================================================
// breadcrambs End
//========================================================================================================================================================

//========================================================================================================================================================
//page-header
//========================================================================================================================================================

.page-header {
	@include adaptiveValue("min-height", 278, 198);
	@include adaptiveValue("padding-top", 48, 16);
	@include adaptiveValue("padding-bottom", 65, 76);

	// background-color: $mainColor;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		@include adaptiveValue("margin-top", 64, 32);
		color: $lightColor;
	}
}

//========================================================================================================================================================
// Spollers
//========================================================================================================================================================

.spollers {
	width: 100%;
	display: flex;
	flex-direction: column;
	// align-items: flex-start;
	gap: rem(16);
}

.spollers__title {
	display: block;
	width: 100%;
	text-align: start;
	padding-top: rem(24);
	padding-bottom: rem(24);
	@include adaptiveValue("padding-left", 32, 16);
	@include adaptiveValue("padding-right", 60, 56);
	position: relative;
	background-color: $bg;
	border-radius: rem(10);
	transition: background-color .3s ease, color .3s ease;

	@media (any-hover: hover) {
		&:hover {
			color: $accentColor;

			.spollers-icon {
				fill: $accentColor;
			}
		}
	}


	&._spoller-active {
		background-color: $accentColor;
		color: $lightColor;

		.spollers-icon {
			fill: $lightColor;
			transform: rotate(180deg);
		}
	}
}

.spollers-icon {
	position: absolute;
	top: calc(50% - rem(7));
	@include adaptiveValue("right", 32, 16);
	width: rem(24);
	height: rem(14);
	transition: fill .3s ease, transform .3s ease;
	fill: $mainColor;
}

.spollers__body {
	font-weight: 400;
	font-size: rem(16);
	line-height: 160%;
	color: #4c4c4c;

	padding-top: rem(24);
	padding-bottom: rem(24);
	@include adaptiveValue("padding-left", 32, 16);
	@include adaptiveValue("padding-right", 32, 16);

	p {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
}

.spollers {

	// .spollers__tabel
	&__tabel {}

	// .spollers__tabel-row
	&__tabel-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: rem(24);
		padding-bottom: rem(24);
		gap: rem(40);

		&:first-child {
			padding-top: rem(4);
		}

		&:not(:last-child) {
			border-bottom: rem(1) solid $grey-3;
		}

		dt {
			flex-grow: 1;
		}

		dd {
			font-weight: 300;
			font-size: rem(18);
			line-height: 160%;
			letter-spacing: 0.01em;
			text-align: right;
			color: $grey-1;

			text-align: end;
		}
	}
}

//========================================================================================================================================================
// Spollers End
//========================================================================================================================================================

//========================================================================================================================================================
// Pagging
//========================================================================================================================================================

.pagging {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;

	// .pagging__arrow
	&__arrow {
		svg {
			fill: $grey-2;
			transition: fill .3s ease;
		}

		&:disabled {
			cursor: default;

			svg {
				fill: $light-grey;
			}
		}

		&:not(.pagging__arrow_double) {
			width: rem(30);
			@include adaptiveValue("width", 30, 18);
			height: rem(38);
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: rem(10);
				height: rem(18);
			}
		}

		@media (any-hover: hover) {
			&:hover:not(.pagging__arrow:disabled) {
				svg {
					fill: $accentColor;
				}
			}
		}

		// .pagging__arrow_left
		&_left {
			&.pagging__arrow_double {
				margin-right: rem(4);
			}
		}

		// .pagging__arrow_double
		&_double {
			@include adaptiveValue("width", 40, 28);
			height: rem(38);
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				width: rem(20);
				height: rem(18);
			}
		}

		// .pagging__arrow_right
		&_right {
			svg {
				transform: rotate(180deg);
			}

			&.pagging__arrow_double {
				margin-left: rem(4);
			}
		}
	}

	// .pagging__list
	&__list {
		display: flex;
		gap: rem(12);
		margin: 0 rem(10);
	}

	// .pagging__item
	&__item {

		@media (max-width:$mobileSmall) {

			&:nth-child(3),
			&:nth-child(4) {
				display: none;
			}
		}
	}

	// .pagging__link
	&__link {
		border-radius: 5px;
		padding: 10px 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: rem(43);
		height: rem(46);
		border: 1px solid #e5e5e5;
		transition: color .3s ease, border-color .3s ease;

		font-weight: 400;
		font-size: rem(16);
		line-height: 160%;

		&._current {
			border: 1px solid $accentColor;
			background-color: $accentColor;
			color: $lightColor;
		}

		@media (any-hover: hover) {
			&:hover {
				&:not(._current) {
					border-color: $accentColor;
					color: $accentColor;
				}
			}
		}
	}
}

//========================================================================================================================================================
// Pagging End
//========================================================================================================================================================

//========================================================================================================================================================
//similar
//========================================================================================================================================================

.similar {

	// .similar__container
	&__container {}

	// .similar__title
	&__title {
		@include adaptiveValue("margin-bottom", 80, 32);
	}

	// .similar__slider
	&__slider {
		position: relative;
		z-index: 1;
		margin: 0 rem(-39) rem(-200);
		padding: 0 rem(39) rem(200);

		@media (max-width:$mobile) {
			margin: 0;
			padding: 0 0 rem(89);
		}
	}

	// .similar__wrapper
	&__wrapper {}

	// .similar__slide
	&__slide {}

	&__button-next,
	&__button-prev {
		position: absolute;
		z-index: 100;
		top: rem(165);
	}

	// .similar__button-prev
	&__button-prev {
		left: rem(40);

		@media (max-width:$mobile) {
			left: rem(8);
		}
	}

	// .similar__button-image
	&__button-image {}

	// .similar__button-next
	&__button-next {
		right: rem(40);

		@media (max-width:$mobile) {
			right: rem(8);
		}
	}
}

//========================================================================================================================================================
// simplebar
//========================================================================================================================================================
.simplebar-scrollbar::before {
	background-color: $accentColor !important;
	opacity: 1 !important;
}

.simplebar-track.simplebar-horizontal {
	right: rem(20) !important;

	@media (max-width: em(600)) {
		left: rem(20) !important;

	}
}

//========================================================================================================================================================
.animated-show {
	opacity: 0;
	transition: opacity 2s ease-out;
}

.animated-show.animated-show-active {
	opacity: 1;
}