.section-contacts {}

.contacts-home {
	@include adaptiveValue("margin-bottom", 160, 48);
}

.contacts-home__container {}

.contacts-home__title {
	@include adaptiveValue("margin-bottom", 80, 32);
}

.contacts-home__map {
	@include adaptiveValue("margin-bottom", 40, 24);
}

.contacts-home__list {
	display: flex;
	justify-content: space-between;
	gap: rem(20);
	flex-wrap: wrap;
}

.contacts-home__item {
	font-size: rem(16);
	font-style: normal;
	font-weight: 300;
	line-height: 160%;
	/* 25.6px */

	display: flex;
	gap: rem(16);
	flex-basis: rem(215);

	@include adaptiveValue("gap", 16, 10, $containerWidth, 991.98, 2);

	@media (max-width:$tablet) {
		flex-direction: column;
		flex-basis: rem(160);
		text-align: center;
	}

	@media (max-width:$mobile) {
		flex-basis: 40%;
	}

	@media (max-width:$mobileSmall) {
		text-align: start;
		flex-basis: auto;
	}

	&:nth-child(even) {
		@media (max-width:$mobileSmall) {
			flex-basis: rem(134);
		}
	}
	@include adaptiveValue("font-size", 16, 13, 360, 320, 1);
}

.contacts-home__icon {
	flex-shrink: 0;
	display: flex;
	align-items: flex-start;
	width: rem(32);
	height: rem(32);
	fill: $accentColor;

	@media (max-width:$tablet) and (min-width:$mobileSmall) {
		margin: 0 auto;
	}
}

.contacts-home__links-group,
.contacts-home__text-wrapper {
	display: flex;
	flex-direction: column;
	// gap: rem(8);
}

.contacts-home__link,
.contacts-home__text-wrapper p {
	display: block;
	line-height: 160%;
}

.link {}