.contacts {
	@include adaptiveValue("margin-top", 40, 24);
	@include adaptiveValue("margin-bottom", 160, 48);
}

.contacts__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: rem(20);

	@media (max-width:$mobile) {
		grid-template-columns: 1fr;
	}
}

.contacts__col {
	&:first-child {
		@include adaptiveValue("max-width", 620, 250, $containerWidth, 767.91, 2);
	}
}

.contacts__field {
	margin-bottom: rem(24);

	h3 {
		margin-bottom: rem(16);
		font-weight: 500;
		font-size: rem(18);
		line-height: 160%;
		letter-spacing: 0.01em;
	}

	p {
		font-weight: 300;
		font-size: rem(16);
		line-height: 160%;

		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}

	a {
		transition: color .3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
			}
		}
	}
}

.information {
	font-weight: 300;
	font-size: rem(16);
	line-height: 160%;
	@include adaptiveValue("max-width", 620, 450, $containerWidth, 767.91, 2);
}

.information__item {
	display: flex;
	justify-content: space-between;
	gap: rem(20);

	&:not(:last-child) {
		margin-bottom: rem(8);
	}

	@media (max-width:$mobileSmall) {
		flex-direction: column;
		gap: rem(8);
	}
}

.information__term {
	color: $grey-2;
}

.information__val {
	color: $mainColor;

	@media (min-width:$mobileSmall) {
		text-align: end;
	}
}


.contact-us {
	position: relative;
	background-color: $accentColor;
	@include adaptiveValue("padding-top", 52, 40);
	@include adaptiveValue("margin-bottom", 32, 24);
	padding-bottom: rem(40);
	// height: rem(636);
}

.contact-us__bg {
	position: absolute;
	z-index: 1;
	height: 100%;
	top: 0;
	--right: rem(0);
	@include adaptiveValue("--right", 0, 360, 1500, 767.91, 1);
	right: calc(var(--right) * -1);
	bottom: 0;
	aspect-ratio: 1072/636;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	@media (max-width:$mobile) {
		display: none;
	}
}

.contact-us__container {
	position: relative;
	z-index: 2;
}

.contact-us__title {
	color: $lightColor;
	@include adaptiveValue("max-width", 600, 400, $containerWidth, 767.91, 1);
	@include adaptiveValue("margin-bottom", 32, 24);

	@include adaptiveValue("font-size", 64, 32, $containerWidth, 360, 1);
}

.contact-us__form {
	@include adaptiveValue("max-width", 608, 400, $containerWidth, 767.91, 2);

	@media (max-width:$mobile) {
		max-width: auto;
	}
}

.contact-us__form-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(16);
	@include adaptiveValue("gap", 16, 8);

	@media (max-width:$mobileSmall) {
		grid-template-columns: 1fr;
	}
}

.contact-us__textarea {
	height: rem(154);
	@include adaptiveValue("margin-top", 16, 8);
	margin-bottom: rem(24);
}

.contact-us__button {
	display: block;
	width: 100%;
	border-radius: rem(10);
	color: $accentColor;
	font-weight: 500;
	font-size: rem(16);
	line-height: 123%;
	border: 3px solid $lightColor;
	background: $lightColor !important;
	transition: color .3s ease, box-shadow .3s ease;

	&::after {
		content: '';
		position: absolute;
		top: rem(0);
		left: rem(0);
		bottom: rem(0);
		right: rem(0);
		transition: opacity .3s ease;

		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #ffbd04 0%, #f57520 100%);
		opacity: 0;
	}

	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.43);
			color: $lightColor;
	
			&::after {
				opacity: 1;
			}
		}
	}

	&:active {
		box-shadow: none;

		&::after {
			opacity: .5;
		}
	}
}

.faq {
	@include adaptiveValue("margin-bottom", 160, 48);
}

.faq__container {}

.faq__title {
	@include adaptiveValue("margin-bottom", 48, 32);
}