//====================================================================================================
body[style*="padding-right: 17px"] {
	.header {
		right: 17px;
	}
}

.menu-open body::after {
	opacity: 1;
}

//====================================================================================================
.header {
	position: absolute;
	z-index: 1;
	// position: relative;
	// overflow-x: hidden;
	// overflow-y: visible;
	inset: 0 0 auto 0;
	@include adaptiveValue("padding-top", 28, 33, $containerWidth, 360, 1);
	@include adaptiveValue("padding-bottom", 28, 32, $containerWidth, 360, 1);

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		align-items: center;
	}

	&__logo {
		@include adaptiveValue("margin-right", 50, 20, $containerWidth, 768, 1);

		img {
			@include adaptiveValue("width", 87, 40, $containerWidth, 767.98, 2);

			@media (max-width:$mobile) {
				@include adaptiveValue("width", 87, 64, 767.98, 360, 1);
			}

			object-fit: contain;
		}
	}
}


.catalog-menu {
	@include adaptiveValue("margin-right", 74, 15, $containerWidth, 780, 1);

	li a {
		transition: color .3s ease;

		&:hover {
			color: $accentColor;
		}
	}

	@media (max-width:$mobile) {
		margin: 0;
		width: 100%;
	}

	&__list {
		display: flex;
		row-gap: rem(8);
		flex-wrap: wrap;

		@media (max-width:$mobile) {
			flex-direction: column;
			width: 100%;
		}

		@include adaptiveValue("column-gap", 32, 10, $containerWidth, 780, 1);
	}

	&__item {
		position: relative;

		@media (min-width:$mobile) {
			html:not(.touch) &:hover .sub-menu {
				display: block;
			}
		}

		.touch & {
			@media (min-width:$mobile) {
				display: flex;
				align-items: center;
			}
		}

		@media (max-width:$mobile) {
			padding: rem(16);
			padding-right: rem(46);

			width: 100%;

			&::after {
				content: '';
				position: absolute;
				top: rem(0);
				left: rem(0);
				right: rem(0);

				background-color: #f8f8f8;
				border-radius: rem(10);
				width: 100%;
				height: rem(61);
				z-index: -1;

				transition: background-color .3s ease;
			}

			&._active {
				.catalog-menu__link {
					color: #fff;
				}

				.menu-spoller__button svg {
					fill: #fff;
				}

				&::after {
					background-color: $accentColor;
				}
			}
		}
	}

	&__link {
		text-transform: uppercase;
		color: #fff;
		font-weight: 400;
		line-height: 160%;
		/* 19.2px */
		font-size: rem(12);
		@include adaptiveValue("font-size", 12, 9, $containerWidth, 767.98, 2);

		&:not(:last-child) {
			@media (max-width:$mobile) {
				color: $mainColor;
				font-size: rem(18);
				font-weight: 500;
				line-height: 160%;
				/* 28.8px */
				letter-spacing: 0.18px;
				text-transform: capitalize;
			}
		}

		&:last-child {
			@media (max-width:$mobile) {
				color: $accentColor;
				font-size: rem(20);
				font-weight: 500;
				line-height: 160%;
				/* 32px */
				letter-spacing: 0.2px;
			}
		}
	}
}

.catalog-sub-menu {
	@media (min-width:$mobile) {
		position: absolute;
		z-index: 50;
		top: 100%;
		left: 0;
		padding-top: rem(16);

		width: fit-content;
		display: none;

		.touch &._sub-menu-open {
			display: block;
		}
	}

	@media (max-width:$mobile) {
		position: relative;
		z-index: 1;
		padding: rem(40) 0 rem(24);
	}
}

.sub-menu {
	width: max-content;
	min-width: fit-content;

	@media (max-width:$mobile) {
		width: 100%;
	}

	&__list {
		position: relative;

		@media (max-width:$mobile) {
			display: flex;
			width: 100%;
			flex-direction: column;
			gap: rem(16);
		}

		@media (min-width:$mobile) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding: rem(40);
			@include adaptiveValue("padding", 40, 15, $containerWidth, 767.98, 1);


			border-radius: 10px;
			border: 1px solid #4C4C4C;
			background: $mainColor;
			gap: rem(24);
			@include adaptiveValue("gap", 24, 15, $containerWidth, 767.98, 1);

			.sub-menu__item {
				width: max-content;
				max-width: rem(200);
				@include adaptiveValue("max-width", 200, 150, $containerWidth, 767.98, 1);
				position: relative;
				z-index: 2;
			}

			&::after {
				content: '';
				position: absolute;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				pointer-events: none;
				z-index: 1;
			}
		}

		&_bikes {
			@media (min-width:$mobile) {
				padding-bottom: rem(135);
				@include adaptiveValue("padding-bottom", 135, 100, $containerWidth, 767.98, 1);
				max-width: rem(502);

				&::after {
					left: 15%;
					/* 77/502 */
					bottom: 0;
					width: 69.322709%;
					/* 348/502 */
					aspect-ratio: 348/123;
					background-image: url('@img/menu-bg/bike.png');
				}
			}
		}

		&_things {
			@media (min-width:$mobile) {
				padding-bottom: rem(23);
				@include adaptiveValue("padding-bottom", 23, 10, $containerWidth, 767.98, 2);
				display: block;
				column-count: 2;
				@include adaptiveValue("column-width", 185, 150, $containerWidth, 767.98, 1);

				// width: max-content;
				width: fit-content;

				li {
					width: 100%;
					max-width: none;
					margin-bottom: rem(24);
					@include adaptiveValue("margin-bottom", 24, 10, $containerWidth, 767.98, 1);
				}

				&::after {
					bottom: 0;
					right: 0;

					width: 38.329764%;
					/* 179/467 */
					aspect-ratio: 179/145;
					background-image: url('@img/menu-bg/things.png');
				}
			}

		}

		&_equipment {
			@media (min-width:$mobile) {
				padding-right: rem(96);
				@include adaptiveValue("padding-right", 96, 50, $containerWidth, 767.98, 1);

				&::after {
					content: '';
					bottom: 0;
					right: 0;

					width: 34.269663%;
					/* 122/356 */
					aspect-ratio: 122/115;
					background-image: url('@img/menu-bg/equipment.png');
				}
			}
		}

		&_accessories {
			@media (min-width:$mobile) {
				row-gap: rem(15.5);
				@include adaptiveValue("row-gap", 15.5, 10, $containerWidth, 767.98, 2);

				grid-template-columns: 1fr;

				&::after {
					top: 18.181818%;
					right: 0;

					height: 63.030303%;
					/* 208/330 */
					aspect-ratio: 84/208;
					background-image: url('@img/menu-bg/accessories.png');
				}
			}
		}

		&_switch {
			@media (min-width:$mobile) {
				padding-bottom: rem(116);
				@include adaptiveValue("padding-bottom", 116, 90, $containerWidth, 767.98, 1);
				grid-template-columns: 1fr;

				.sub-menu__item {
					max-width: rem(130);
				}

				&::after {
					bottom: 0;
					left: 0;
					right: 0;

					width: 100%;
					aspect-ratio: 204/144;
					background-image: url('@img/menu-bg/switch.png');
				}
			}
		}
	}

	&__link {
		color: $grey-3;
		font-size: rem(14);
		@include adaptiveValue("font-size", 14, 10, $containerWidth, 767.98, 2);
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		/* 22.4px */

		@media (max-width:$mobile) {
			color: $grey-1;

			/* desk mob text 16 */
			font-family: Inter;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%;
			/* 25.6px */
		}
	}
}

.menu-spoller__button {
	position: absolute;
	right: rem(12);
	top: rem(18);
	padding: rem(5);
	box-sizing: border-box;
	transition: transform .3s ease-in-out;

	svg {
		width: rem(24);
		aspect-ratio: 24/14;

		transition: fill .3s ease;
		fill: $mainColor;
	}

	&:hover {
		svg {
			fill: $accentColor;
		}
	}

	@media (max-width:$mobile) {
		&._spoller-active {
			transform: rotate(180deg) translateY(5px);
		}
	}

	@media (min-width:$mobile) {
		display: none;
	}

	.touch & {
		@media (min-width:$mobile) {
			display: flex;
			align-items: center;
			position: static;


			svg {
				width: rem(10);
				fill: #fff;
			}

			&._sub-menu-active {
				transform: rotate(180deg);
			}
		}
	}
}

.actions-header {
	flex: 1 0;
	padding-top: 5px;
	margin-right: rem(58);
	@include adaptiveValue("margin-right", 58, 20, $containerWidth, 767.98, 2);

	@media (max-width:$mobile) {
		@include adaptiveValue("margin-right", 58, 25, 767.98, 360, 1);

	}

	display: flex;
	flex-wrap: wrap;
	column-gap: rem(24);
	@include adaptiveValue("column-gap", 24, 11, $containerWidth, 767.98, 2);

	@media (max-width:$mobile) {
		@include adaptiveValue("column-gap", 24, 15, 767.98, 360, 1);
	}

	row-gap: rem(15);

	&__link {
		height: fit-content;
	}

	&__icon {
		width: rem(24);
		@include adaptiveValue("width", 24, 19, $containerWidth, 767.98, 2);

		aspect-ratio: 1/1;
		stroke: #fff;
		transition: stroke .3s ease;

		&:hover {
			stroke: $accentColor;
		}
	}
}

.search-header {
	position: relative;
}

.search-header__form {
	position: absolute;
	right: rem(-16);
	top: rem(-200);
	// display: flex;
	width: rem(259);
	height: rem(44);
	// padding: rem(10) rem(14) rem(10) rem(16);
	align-items: center;
	gap: rem(10);
	transition: top .5s ease-in-out;

	&._active {
		top: calc(100% + rem(16));

	}

}

.search-header__input {
	width: 100%;
	height: 100%;
	background-color: $mainColor;
	border-radius: 5px;
	border: 1px solid #4C4C4C;
	background: $mainColor;
	padding: rem(10) rem(50) rem(10) rem(16);
	// flex-basis: 100%;
	// flex: 1 0 rem(193);
	color: #777;
	font-family: Inter;
	font-size: rem(14);
	font-weight: 400;

	::placeholder {
		color: #777;
		font-family: Inter;
		font-size: rem(14);
		font-weight: 400;
	}
}

.search-header__form-button {
	position: absolute;
	right: rem(14);
	top: rem(10);

	.search-header__icon {
		stroke: #777;

		&:hover {
			stroke: $accentColor;
		}
	}
}

.actions-header {
	&__favorites, &__cart{
		position: relative;

		&::after{
			content:'';
			position: absolute;
			top: rem(1);
			right: rem(1);
			
			width: rem(6);
			aspect-ratio: 1/1;
			border-radius: 50%;
			background-color: $accentColor;
		}
	}
}

.more-menu {
	overflow: auto;
	position: fixed;
	z-index: 160;
	top: 0;
	right: rem(-448);

	transition: right .3s ease-in-out;

	width: rem(448);
	height: 100vh;
	padding: rem(104) rem(60) rem(40) rem(40);
	background-color: #fff;

	a {
		display: block;
	}

	@media (max-width:$mobile) {
		padding: rem(116) rem(20) rem(40) rem(20);
		width: rem(360);
		@include adaptiveValue("width", 360, 335, 767.98, 479.98, 2);
	}

	@media (max-width:$mobileSmall) {
		width: 100%;
		right: -150vw;
	}

	&__logo {
		display: none;

		@media (max-width:$mobile) {
			position: absolute;
			display: block;
			top: rem(33);
			left: rem(22);
			width: rem(64);
			height: rem(34);

			background-image: url('@img/menu-logo.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	.menu-open & {
		right: 0;
	}

	&__title {
		color: #000;
		margin-bottom: rem(48);
		/* desk h3 */
		font-family: BebasNeueCyrillic;
		font-size: rem(40);
		font-weight: 400;
		line-height: 123%;
		/* 49.2px */
		letter-spacing: 2px;

		@media (max-width:$mobile) {
			display: none;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: rem(24);

		@media (max-width:$mobile) {
			margin-top: rem(24);
			padding: 0 rem(16);
		}
	}

	&__link {
		color: $mainColor;

		font-size: rem(18);
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		/* 28.8px */
		letter-spacing: 0.18px;

		transition: color .3s ease;

		&:hover {
			color: $accentColor;
		}

		@media (max-width:$mobile) {}
	}

	&__close-btn {
		position: absolute;
		top: rem(40);
		right: rem(40);

		@media (max-width:$mobile) {
			right: rem(20);
		}

		svg {
			transition: stroke .3s ease;

			&:hover {
				stroke: $accentColor;
			}
		}

	}
}

//Burger

.menu__icon.icon-menu {
	display: none;
	display: block;
	position: relative;
	width: rem(32);
	height: rem(18);
	cursor: pointer;
	z-index: 5;

	span,
	&::before,
	&::after {
		content: "";
		transition: background-color 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: rem(2);
		background-color: #fff;
	}

	span,
	&::after {
		width: 75%;
		/* 24/32 */
	}

	&::before {
		top: 0;
		width: 100%;
	}

	&::after {
		bottom: 0;
	}

	span {
		top: calc(50% - rem(1));
	}

	&:hover {

		span,
		&::before,
		&::after {
			background-color: $accentColor;
		}
	}

	&:active {

		span,
		&::before,
		&::after {
			background-color: $accentActiveColor;
		}
	}
}