.new {
	background-color: $bg;
	@include adaptiveValue("padding-bottom", 80, 40, $containerWidth, 479.98, 1);
	@include adaptiveValue("padding-top", 80, 40, $containerWidth, 479.98, 1);
	overflow: hidden;
}

.new__title {
	margin-bottom: rem(80);
	@include adaptiveValue("margin-bottom", 80, 32, $containerWidth, 479.98, 1);
}