// .partners {
// }
// .partners__slider {
// 	height: rem(206);
// }
// .partners__wrapper {
// 	&.swiper-wrapper {
// 		-webkit-transition-timing-function:linear!important; 
// 		-o-transition-timing-function:linear!important;
// 		transition-timing-function:linear!important; 
// 	}
// }
// .swiper-wrapper {
// }
// .partners__slide {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	width: rem(315);
// 	@include adaptiveValue("width", 315, 124, $containerWidth, 360, 1);
// 	img {
// 		display: block;
// 		max-width: 100%;
// 	}
// }
// .swiper-slide {

// }

.partners {
	position: relative;
	overflow: hidden;
	padding: rem(40) 0;
	@include adaptiveValue("padding-top", 40, 32.5, $containerWidth, 479.98, 1);
	@include adaptiveValue("padding-bottom", 40, 32.5, $containerWidth, 479.98, 1);
	margin: rem(48) 0 rem(66);
	@include adaptiveValue("margin-top", 48, 0, $containerWidth, 479.98, 1);
	@include adaptiveValue("margin-bottom", 66, 48, $containerWidth, 479.98, 1);

	&._active{
		.partners__slide{
			animation: ticker 10s linear infinite;
		}
	}
}
.partners__wrapper {
	display: flex;
	height: rem(125);
	@include adaptiveValue("height", 125, 55);
}

.partners__slide {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 80, 24);
	@include adaptiveValue("padding-left", 40, 12);
	@include adaptiveValue("padding-right", 40, 12);
	flex-shrink: 0;

}

.partners__item {
	width: fit-content;
	height: 100%;

	img {
		width: auto;
		height: 100%;
		object-fit: cover;
	}
}

@keyframes ticker{
	0% {
		transform: translareZ(0);
	}
	to {
		transform: translate3d(-100%, 0, 0)
	}
}