.storage {
	@include adaptiveValue("padding-top", 48, 32);
}

.storage__container {}

.storage__text {
	font-weight: 400;
	font-size: rem(16);
	line-height: 200%;
	color: $grey-1;
	@include adaptiveValue("margin-bottom", 64, 24);
}

.storage__wrapper {
	display: flex;
	@include adaptiveValue("gap", 40, 16);
	margin-bottom: rem(160);
	@include adaptiveValue("margin-bottom", 160, 48);
	@media (max-width: em(650)){
		 flex-direction: column; 
	}
}

.storage__prices {
	flex-basis: rem(400);
	flex-shrink: 0;
	padding-top: rem(32);
	padding-bottom: rem(32);

	@include adaptiveValue("flex-basis", 400, 260, 1100, 650, 2);
	@include adaptiveValue("padding-right", 32, 24);
	@include adaptiveValue("padding-left", 32, 24);

	background-color: $accentColor;
	border-radius: rem(10);

	@media (max-width: em(650)){
		 flex-basis: auto; 
	}
}

.storage__price {
	display: block;
	font-weight: 300;
	font-size: rem(16);
	line-height: 160%;
	color: #fff;

	@media (any-hover: hover){
		&:hover{
			text-decoration: underline;
		}
	}
	&:not(.storage__price_main){
		margin-top: rem(16);
	}
}

.storage__price_main {
	@include adaptiveValue("padding-bottom", 24, 16);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	font-weight: 500;
	font-size: rem(18);
	letter-spacing: 0.01em;
	color: $lightColor;
}

.storage__description {
	font-weight: 400;
	font-size: rem(16);
	line-height: 200%;
	color: #fff;
	overflow: hidden;

	position: relative;
	border-radius: rem(10);
	background-color: $dark-grey;
	@include adaptiveValue("padding-top", 47, 40);
	@include adaptiveValue("padding-right", 68, 24);
	@include adaptiveValue("padding-bottom", 47, 51);
	@include adaptiveValue("padding-left", 68, 24);

	p {
		position: relative;
		z-index: 10;
	}

	&::after{
		content:'';
		position: absolute;
		z-index: 0;

		bottom: rem(0);
		right: rem(0);

		width: rem(420);
		aspect-ratio: 420/122;

		background-image: url("data:image/svg+xml,%3Csvg width='420' height='122' viewBox='0 0 420 122' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4923_5772)'%3E%3Cpath d='M467.522 92.7003C467.522 138.639 414.798 175.88 349.759 175.88C284.721 175.88 -122 186.743 -122 140.804C134.807 126.273 380.264 53.6159 441.274 0C506.312 0 467.522 46.7614 467.522 92.7003Z' fill='%23101010' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4923_5772'%3E%3Crect width='420' height='122' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}