.section__video {}

.video-section {}

.video-section__container {
	margin-bottom: rem(80);
	@media (max-width:$mobile){
		 margin-bottom: rem(32); 
	}
}

.video-section__content {
	display: flex;
	justify-content: space-between;
	gap: rem(32);
	
	@media (max-width:$mobile){
		 flex-direction: column; 
	}
}

.video-section__title {
	flex-shrink: 0;
	@include adaptiveValue("flex-basis", 450, 400, $containerWidth, 767.98, 2);
	@media (max-width:$mobile){
		 flex-basis: auto;
		 max-width: rem(420);
	}
}

.video-section__text-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	flex-basis: rem(510);

	p {
		color: $mainColor;

		/* desk mob text 16 */
		font-size: rem(16);
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		/* 25.6px */
	}

	@media (max-width:$mobile){
		flex-basis: auto;
		max-width: rem(480);
 }
}

.video__link-more {
	margin-top: rem(32);

	color: $light-grey;

	/* desk mob cta */
	font-size: rem(16);
	font-style: normal;
	font-weight: 500;
	line-height: 123%;
	/* 19.68px */
	transition: color .3s ease;

	&:hover {
		color: $accentColor;
	}
}

.video-section__wrapper {
	line-height: 0;
}

.video-section__video {
	width: 100%;
	height: rem(600);

	@include adaptiveValue("height", 600, 260, $containerWidth, 479.98, 1);
}

.benefits {
	padding: rem(36) 0;
	background-color: $dark-grey;
	color: $lightColor;
}

.benefits__container {}

.benefits__list {
	display: flex;
	column-gap: rem(44);
	@include adaptiveValue("column-gap", 44, 20, $containerWidth, 991.98, 2);
	row-gap: rem(32);
	justify-content: space-between;

	@media (max-width:$tablet) {
		flex-wrap: wrap;
	}

	@media (max-width:$mobile) {
		@include adaptiveValue("column-gap", 44, 20, 767.98, 479.98, 1);
	}

	// flex-wrap: wrap;
}

.benefits__item {
	// flex: 1 1 333px; /* 280/1280 */
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: rem(16);

	@media (max-width:$tablet) {
		flex: 0 0 40%;
	}

	@media (max-width:$mobileSmall) {
		flex-basis: 100%;
	}
}

.benefits__title-wrapper {
	display: flex;
	gap: rem(16);
}

.benefits__icon {
	display: block;
	// fill: $grey-1;
	width: rem(40);
	aspect-ratio: 1 / 1;

	@media (max-width:$mobile) {
		@include adaptiveValue("width", 40, 32, 767.91, 479.98, 1);
	}
}

.benefits__title {
	color: $lightColor;

	/* desk mob 20 */
	font-size: rem(20);
	@include adaptiveValue("font-size", 20, 14, $containerWidth, 991.98, 2);
	font-style: normal;
	font-weight: 500;
	line-height: 160%;
	/* 32px */
	letter-spacing: 0.2px;
	white-space: nowrap;

	@media (max-width:$mobile) {
		@include adaptiveValue("font-size", 20, 12, 767.91, 479.98, 2);
		white-space: normal;
	}
}

.benefits__text {
	flex-grow: 1;
	color: $lightColor;

	/* desk  mob 16 light */
	font-family: Inter;
	font-size: rem(16);
	@include adaptiveValue("font-size", 16, 14, $containerWidth, 991.98, 2);
	font-style: normal;
	font-weight: 300;
	line-height: 160%;
	/* 25.6px */

	@media (max-width:$mobile) {
		@include adaptiveValue("font-size", 16, 12, 767.91, 479.98, 2);
	}
}