.winter {
	position: relative;
	background-color: $mainColor;
	@include adaptiveValue("padding-bottom", 80, 40, $containerWidth, 479.98, 1);
	@include adaptiveValue("padding-top", 80, 40, $containerWidth, 479.98, 1);
	overflow: hidden;

	@media (min-width:$tablet) {
		background-image: url('@img/winter-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.offers__link {
		color: $lightColor;
	}

	.offers__button-prev, .offers__button-next{
		background-color: $lightColor;
		border-color: $light-grey;
		svg	{
			fill: $light-grey;
		}
	}
}

.winter__title {
	color: $lightColor;
	margin-bottom: rem(80);
	max-width: rem(500);
	@include adaptiveValue("margin-bottom", 80, 32, $containerWidth, 479.98, 1);
}